[include mainsail.cfg]
[include macros.cfg]

[stepper_a]
step_pin: PF0
dir_pin: PF1
enable_pin: !PD7
endstop_pin: PE4 #^PE5
microsteps: 16
rotation_distance: 40   ##rotation_distance = ((360°/1.8°) * microsteps) / 80 
#position_endstop: 475
homing_speed: 30
#arm_length: 280

[stepper_b]
step_pin: PF6
dir_pin: PF7
enable_pin: !PF2
endstop_pin: PJ0 # ^PJ1
microsteps: 16
rotation_distance: 40   ##rotation_distance = ((360°/1.8°) * microsteps) / 80

[stepper_c]
step_pin: PL3
dir_pin: PL1
enable_pin: !PK0
endstop_pin: PD2 #^PD3 
microsteps: 16
rotation_distance: 40   ##rotation_distance = ((360°/1.8°) * microsteps) / 80

[extruder]
step_pin: PA4
dir_pin: !PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5
min_temp: 0
max_temp: 250
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
min_temp: 0
max_temp: 130
control: pid
pid_Kp: 325.10
pid_Ki: 63.35
pid_Kd: 417.10

[include board_pins.cfg]
[include mks_lcd_12864.cfg]

# See https://github.com/robhicks/klipper/blob/master/docs/Config_checks.mddocs/Config_Reference.md for a description of parameters.

[endstop_phase]


[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0

[fan]
pin: PH6

#max height 370mm - https://flsun.community/guide/calibration.html#geometry-correction-for-the-qq-s-pro
[printer]
kinematics: delta
max_velocity: 300
max_accel: 3000
max_z_velocity: 150
minimum_z_position: -5
#delta_radius: 196
print_radius: 130 # required for DELTA_CALIBRATE

[delta_calibrate]
radius: 50

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 159.321518
#*#
#*# [stepper_a]
#*# angle = 211.110083
#*# arm_length = 280.000000
#*# position_endstop = 475.723162
#*#
#*# [stepper_b]
#*# angle = 329.034860
#*# arm_length = 280.000000
#*# position_endstop = 475.158787
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 280.000000
#*# position_endstop = 474.441495
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 38006.000,38006.000,38006.000
#*# height1 = 0.0
#*# height1_pos = 40796.000,40796.000,35292.000
#*# height2 = 0.0
#*# height2_pos = 37014.000,42913.000,37014.000
#*# height3 = 0.0
#*# height3_pos = 35509.000,40422.000,40422.000
#*# height4 = 0.0
#*# height4_pos = 37083.000,37083.000,41511.000
#*# height5 = 0.0
#*# height5_pos = 40030.000,35701.000,40030.000
#*# height6 = 0.0
#*# height6_pos = 42183.000,37037.000,37037.000
